:root {
  --bs-blue: #0d7dfd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e52a72;
  --bs-red: #dc3545;
  --bs-orange: #ffb003;
  --bs-yellow: #ffcb03;
  --bs-green: #39b385;
  --bs-teal: #5de17e;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: rgb(108, 117, 125);
  --bs-gray-dark: rgb(52, 58, 64);
  --bs-gray-100: rgb(248, 249, 250);
  --bs-gray-200: rgb(233, 236, 239);
  --bs-gray-300: rgb(222, 226, 230);
  --bs-gray-400: rgb(206, 212, 218);
  --bs-gray-500: rgb(173, 181, 189);
  --bs-gray-600: rgb(108, 117, 125);
  --bs-gray-700: rgb(73, 80, 87);
  --bs-gray-800: rgb(52, 58, 64);
  --bs-gray-900: rgb(33, 37, 41);
  --bs-primary: #e52a72;
  --bs-secondary: #6f42c1;
  --bs-success: #39b385;
  --bs-info: #0dcaf0;
  --bs-warning: #ffb003;
  --bs-danger: #dc3545;
  --bs-light: rgb(248, 249, 250);
  --bs-dark: rgb(33, 37, 41);
  --bs-ecd-clr-8: rgb(229, 239, 230);
  --bs-ecd-clr-9: rgb(226, 213, 222);
  --bs-ecd-clr-10: rgb(230, 227, 222);
  --bs-primary-rgb: 121, 85, 105;
  --bs-list-group-bg: 39, 39, 39;
  --bs-secondary-rgb: 166, 128, 140;
  --bs-success-rgb: 229, 239, 230;
  --bs-info-rgb: 178, 208, 255;
  --bs-warning-rgb: 254, 234, 200;
  --bs-danger-rgb: 255, 212, 212;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-ecd-clr-8-rgb: 229, 239, 230;
  --bs-ecd-clr-9-rgb: 226, 213, 222;
  --bs-ecd-clr-10-rgb: 230, 227, 222;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: 'Public Sans', sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #000;
  --bs-body-bg: #fff;
}

$font-family-sans-serif: // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Public Sans",
  // Android
  Roboto,
  // older macOS and iOS
  "Helvetica Neue"
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Basic web fallback
  Arial,
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


/* COLORS */
$blue: #0d7dfd;
$indigo: #6610f2;
$purple: #915ff0;
$pink: #e52a72;
$red: #dc3545;
$orange: #ffb003;
$yellow: #ffcb03;
$green: #39b385;
$teal: #5de17e;
$cyan: #0dcaf0;
$expense: #ffb003;
$installment: #dc3545;
$income: #39b385;

$primary: $blue ;
$secondary: #333;
$success: #39b385;
$info: $cyan ;
$warning: $yellow ;
$danger: $red ;
$light: #f8f9fa;
$purple: #915ff0;
$dark: #1c1c1c;
$dark-2: #272727;
$dark-3: #373737;
$dark-4: #373737;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": black,
  "white": white,
  "gray": #6c757d,
  "gray-dark": #343a40,
  "expense": $expense,
  "installment": $installment,
  "income": $income,
);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "dark-2": $dark-2,
  "dark-3": $dark-3,
  "dark-4": $dark-4,
  "purple": $purple,
  "expense": $expense,
  "installment": $installment,
  "income": $income
);


/* BUTTONS */
//$btn-font-size: 0.75rem;
//$btn-box-shadow: none;
//$btn-focus-width: 0;
//$btn-focus-box-shadow: none;
//$btn-disabled-opacity: none;
//$btn-active-box-shadow: 0;
//$btn-border-radius: 0;
//$btn-border-width: 0;

/* CLOSE BUTTON */
$btn-close-focus-shadow: none;

/* FONTS */
$font-family-sans-serif: "Public Sans", sans-serif;

/* LIST GROUP */
$list-group-bg: 39, 39, 39;

/* INPUT */
$input-btn-border-width: 0;
$input-border-color: transparent;
//$input-border-radius: 0;
$input-border-width: 0;
$input-box-shadow: none;
$input-color: white;
//$input-disabled-color: white;
$input-focus-bg: transparent;
//$input-focus-border-color: transparent;
//$input-focus-box-shadow: none;
////$input-focus-color: transparent;
//$input-font-size: 0.9rem;
$input-placeholder-color: white;
$input-plaintext-color: white;
//$placeholder-opacity-max: 100%;
//$placeholder-opacity-min: 100%;
$input-btn-border-width: 0;
$input-btn-focus-width: 0;
$input-btn-focus-color-opacity: 100%;

/* LIST GROUP */
//$list-group-border-width: 0;
$list-group-active-border-color: transparent;

$caret-width: 0;
$caret-vertical-align: 0;
$caret-spacing: 0;

/* DARK MODE */
//$navbar-dark-color: rgba($white, .55);
//$navbar-dark-hover-color: rgba($white, .75);
//$navbar-dark-active-color: $white;
//$navbar-dark-disabled-color: rgba($white, .25);
//$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
//$navbar-dark-toggler-border-color: rgba($white, .1);
//$navbar-dark-brand-color: $navbar-dark-active-color;
//$navbar-dark-brand-hover-color: $navbar-dark-active-color;

@import '../node_modules/bootstrap/scss/bootstrap.scss';