@use '../abstract/variables';
@use '../custom';

.bg--dark-mode {
  background-color: #494949;
}

.movements-container {
  font-size: 0.75rem;
  height: 36rem;
}

.movements_table {
  overflow-y: scroll;
}

.movements__table--row {
  height: 36rem;
  overflow-y: scroll;
}

.input__sort--date {
  font-weight: 600;
  color: black;
  resize: horizontal;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.7em;
  background-color: #b9b9b9;
  margin: 0;

  &:active {
    border: 0;
    width: 100%;
    box-shadow: none;
  }

  &:focus {
    border: 0;
    box-shadow: none;
    outline-offset: 0;
    width: 100%;
  }

  &::placeholder {
    color: black;
    font-size: 1rem;
  }
}

.input__sort--category {
  font-weight: 600;
  color: black;
  resize: horizontal;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.7em;
  background-color: #b9b9b9;
  margin: 0;

  &:active {
    border: 0;
    width: 100%;
    box-shadow: none;
  }

  &:focus {
    border: 0;
    box-shadow: none;
    outline-offset: 0;
    width: 100%;
  }

  &::placeholder {
    color: black;
    font-size: 1rem;
  }
}

.input__sort--place {
  font-weight: 600;
  color: black;
  resize: horizontal;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.7em;
  background-color: #b9b9b9;
  margin: 0;

  &:active {
    border: 0;
    width: 100%;
    box-shadow: none;
  }

  &:focus {
    border: 0;
    box-shadow: none;
    outline-offset: 0;
    width: 100%;
  }

  &::placeholder {
    color: black;
    font-size: 1rem;
  }
}

th {
  padding: 0;
  margin: 0;
  justify-content: center;
}

.input__sort--comment {
  font-weight: 600;
  color: black;
  resize: horizontal;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.7em;
  background-color: #b9b9b9;
  margin: 0;

  &:active {
    border: 0;
    width: 100%;
    box-shadow: none;
  }

  &:focus {
    border: 0;
    box-shadow: none;
    outline-offset: 0;
    width: 100%;
  }

  &::placeholder {
    color: black;
    font-size: 1rem;
  }

}

.input__sort--money {
  font-weight: 600;
  color: black;
  resize: horizontal;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.7em;
  background-color: #b9b9b9;
  margin: 0;

  &:active {
    border: 0;
    width: 100%;
    box-shadow: none;
  }

  &:focus {
    border: 0;
    box-shadow: none;
    outline-offset: 0;
    width: 100%;
  }

  &::placeholder {
    color: black;
    font-size: 1rem;
  }
}

.movements__td--comment {
  width: 20rem;
  margin: 0;
}


.input__sort::placeholder {
  padding: 2rem;
  color: black;
  opacity: 100%;
}

.action--expense {
  background-color: transparent;
}

.action--income {
  background-color: transparent;
}

.action--installment {
  background-color: transparent;
}

.stats--possitive {
  color: #5de17e;
}

.stats--negative {
  color: #f75f48;
}

.table__top {
  border-top-color: #b9b9b9
}

.table__head {
  background-color: #b9b9b9;
  top: 0;
  position: sticky;
}

.movements__type {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: 0;
}

.movements__type--withdrawal {
  background-color: #dc3545;
}

.movements__type--deposit {
  background-color: #5de17e;
}

.btn-tab {
  background-color: #ffb003;
  border-radius: 0;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: calc(36rem / 2);
  border-image-width: 0;
}

.tab-pane--expense {
  height: 36rem;
  background-image: linear-gradient(to left, #ffb003, #ff6803);
}

.tab-pane--installment {
  height: 36rem;
  background-image: linear-gradient(to left, #dc3545, #f75f48, );
}

.tab-pane--income {
  height: 36rem;
  background-image: linear-gradient(to left, #5de17e, #12b476);
}