@use '../abstract/variables';
@use '../custom';

.bg--dark-mode {
  background-color: #1c1c1c;
}

a {
  text-decoration: none;

  &:link {
    color: white;
  }

  &:visited {
    color: white;
  }
}

.li-bd {
  font-size: 0.85rem;
  border-bottom: 1px solid rgb(100, 100, 100);
  background-color: rgb(39, 39, 39);
}

#filterInputDate,
#filterInputCategory,
#filterInputPlace,
#filterInputComment,
#filterInputMoney,
#filterInputCurrency,
.expense__input {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgb(190, 190, 190);
  color: white;

  &::placeholder {
    color: white;
    border: 0;
    box-shadow: none;
  }

  &:focus {
    border: 0;
    outline: none;
    border-bottom: 1px solid rgb(190, 190, 190);
  }
}

.expense__input {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid rgb(100, 100, 100);
}

//.expense__input--date {
//  ::webkit-calendar-picker-indicator {
//    color: #5de17e;
//  }
//}

input[type=date]::-webkit-calendar-picker-indicator {
  color: rgb(231, 11, 11);
  z-index: 0;
}

input[type=date]::-webkit-calendar-picker-indicator:before {
  background: #eee;
  background: linear-gradient(90deg, #eee, #fff);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  content: '';
  display: block;
  height: 22px;
  left: -2px;
  position: absolute;
  top: -5px;
  width: 22px;
  z-index: -1;
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
  background: none;
}

input[type=date]:focus {
  border-color: #3399ff;
}

.stats--possitive {
  color: #5de17e;
}

.stats--negative {
  color: #f75f48;
}

.li-big {
  width: 50rem;
}

.movements__type {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 0;
  border: 0;
}

.movements__type--withdrawal {
  background-color: #dc3545;
}

.movements__type--deposit {
  background-color: #5de17e;
}