.navbar-toggler {
  border: 0;
}

.btn-action {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #494949;
  color: white;
}

.btn-border-3 {
  border-radius: 0;
  border-bottom: 1px solid rgb(100, 100, 100);
}