/////////////////////////////////////////////////////
// FONTS
/////////////////////////////////////////////////////
$ff-logo: 'Cotoris';
$ff-logo-bold: 'cotoris bold';
$ff-logo-heavy: 'cotoris bolder';
$ff-primary: 'Public Sans', sans-serif;
$ff-secondary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


/////////////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////////////
$clr-green-dark: #39b385;
$clr-green-light: #5de17e;
$clr-magenta: #fe54ac;
$clr-orange-dark: #f75f48;
$clr-orange-light: #f79432;
$clr-red-dark: #e52a5a;
$clr-red-light: #f75f48;
$clr-yellow-dark: #ffb003;
$clr-yellow-light: #ffcb03;

/////////////////////////////////////////////////////
// SHADOWS
/////////////////////////////////////////////////////
$shdw-light: 0 2.5px 7.5px rgba(0, 0, 0, 0.06);
$shdw-dark: 0 5px 15px rgba(0, 0, 0, 0.2);

/////////////////////////////////////////////////////
// TRANSITIONS / SPACING / RADIUS
/////////////////////////////////////////////////////
$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;

.bg-dark-1 {
  background-color: #1c1c1c;
}

.bg-dark-2 {
  background-color: #272727;
}

.bg-dark-3 {
  background-color: #373737;
}